In [104]:
import pandas as pd

### Data  
2. Season Statistics from 1995 - 2018 w/ all_nba flags

### Cleaning / Preparing Data for Model
- Grouped by player, adding up thier all nba selections

In [105]:
df = pd.read_csv("nba_stats.csv")
df = df.drop(['Unnamed: 0'], axis=1)

In [106]:
df.columns

Index(['Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'PER', 'TS%',
       '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%',
       'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP',
       'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%',
       'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV',
       'PF', 'PTS', 'All_NBA'],
      dtype='object')

In [107]:
df["3P%"].fillna(df["3P%"].mean(), inplace=True)
df["PER"].fillna(df["3P%"].mean(), inplace=True)
df["TS%"].fillna(df["3P%"].mean(), inplace=True)
df["3PAr"].fillna(df["3P%"].mean(), inplace=True)
df["FTr"].fillna(df["3P%"].mean(), inplace=True)
df["ORB%"].fillna(df["3P%"].mean(), inplace=True)
df["DRB%"].fillna(df["3P%"].mean(), inplace=True)
df["TRB%"].fillna(df["3P%"].mean(), inplace=True)
df["AST%"].fillna(df["3P%"].mean(), inplace=True)
df["STL%"].fillna(df["3P%"].mean(), inplace=True)
df["BLK%"].fillna(df["3P%"].mean(), inplace=True)
df["USG%"].fillna(df["3P%"].mean(), inplace=True)
df["WS/48"].fillna(df["3P%"].mean(), inplace=True)
df["FG%"].fillna(df["3P%"].mean(), inplace=True)
df["2P%"].fillna(df["3P%"].mean(), inplace=True)
df["eFG%"].fillna(df["3P%"].mean(), inplace=True)
df["FT%"].fillna(df["3P%"].mean(), inplace=True)
df["TOV%"].fillna(df["TOV%"].mean(), inplace=True)

In [108]:
grouped_by_player1 = df.groupby(["Player"])

In [109]:
mean_stats = grouped_by_player1['G', 'GS', 'MP', 'PER', 'TS%',
       '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%',
       'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP',
       'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%',
       'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV',
       'PF', 'PTS'].sum()

In [110]:
all_nba_sum = grouped_by_player1['All_NBA'].sum()

In [111]:
all_nba_sum.head()

Player
A.C. Green       0
A.J. Bramlett    0
A.J. Guyton      0
A.J. Hammons     0
A.J. Price       0
Name: All_NBA, dtype: int64

In [112]:
mean_stats.head()

,G,GS,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,,,,,
A.C. Green,516.0,328.0,13657.0,87.4,3.592,0.438,2.603,65.5,133.6,99.6,...,4.792000,1117.0,2319.0,3436.0,518.0,341.0,130.0,432.0,870.0,3598.0
A.J. Bramlett,8.0,0.0,61.0,-0.4,0.190,0.000,0.000,21.7,18.5,20.1,...,0.277019,12.0,10.0,22.0,0.0,1.0,0.0,3.0,13.0,8.0
A.J. Guyton,80.0,14.0,1246.0,13.1,0.972,1.113,0.205,4.1,11.4,7.6,...,1.925019,22.0,58.0,80.0,147.0,20.0,12.0,62.0,58.0,442.0
A.J. Hammons,22.0,0.0,163.0,8.4,0.472,0.238,0.476,5.4,20.9,12.8,...,0.450000,8.0,28.0,36.0,4.0,1.0,13.0,10.0,21.0,48.0
A.J. Price,245.0,25.0,3798.0,75.4,2.950,2.864,1.061,10.4,52.1,31.0,...,3.724000,64.0,295.0,359.0,548.0,122.0,9.0,225.0,231.0,1495.0

In [113]:
df1 = mean_stats.join(all_nba_sum)

In [114]:
df1.head()

,G,GS,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,All_NBA
Player,,,,,,,,,,,,,,,,,,,,,
A.C. Green,516.0,328.0,13657.0,87.4,3.592,0.438,2.603,65.5,133.6,99.6,...,1117.0,2319.0,3436.0,518.0,341.0,130.0,432.0,870.0,3598.0,0
A.J. Bramlett,8.0,0.0,61.0,-0.4,0.190,0.000,0.000,21.7,18.5,20.1,...,12.0,10.0,22.0,0.0,1.0,0.0,3.0,13.0,8.0,0
A.J. Guyton,80.0,14.0,1246.0,13.1,0.972,1.113,0.205,4.1,11.4,7.6,...,22.0,58.0,80.0,147.0,20.0,12.0,62.0,58.0,442.0,0
A.J. Hammons,22.0,0.0,163.0,8.4,0.472,0.238,0.476,5.4,20.9,12.8,...,8.0,28.0,36.0,4.0,1.0,13.0,10.0,21.0,48.0,0
A.J. Price,245.0,25.0,3798.0,75.4,2.950,2.864,1.061,10.4,52.1,31.0,...,64.0,295.0,359.0,548.0,122.0,9.0,225.0,231.0,1495.0,0

In [115]:
df2 = df1.loc[df1["PTS"] >= 1200, :].reset_index(drop = True)
df2 = df1.loc[df1["GS"] >= 120, :].reset_index(drop = True)
df2 = df1.loc[df1["MP"] >= 2000, :].reset_index(drop = True)
df2 = df1.loc[df1["G"] >= 200, :].reset_index(drop = True)

In [116]:
df2['All_NBA'].value_counts()

0     782
1      40
2      17
4      14
3      10
8       4
7       4
6       4
5       4
14      2
12      2
13      1
Name: All_NBA, dtype: int64

In [117]:
df2.to_csv('nba_stats2.csv')

In [118]:
updated_stats = df2[['MP','G','PTS','AST','2PA','FGA','WS','All_NBA']]

In [119]:
updated_stats = updated_stats.reset_index(drop = True)
updated_stats.rename(columns = {'2PA':'TwoPA', 'FT%':'FTP'}, inplace = True)

In [120]:
updated_stats.to_csv('nba_stats3.csv')

In [121]:
target = updated_stats['All_NBA'].values.reshape(-1, 1)
data = updated_stats.drop("All_NBA", axis=1)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

# from sklearn.preprocessing import StandardScaler
# X_scaler = StandardScaler().fit(X_train)
# y_scaler = StandardScaler().fit(y_train)

# X_train_scaled = X_scaler.transform(X_train)
# X_test_scaled = X_scaler.transform(X_test)
# y_train_scaled = y_scaler.transform(y_train)
# y_test_scaled = y_scaler.transform(y_test)



from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error


model = LinearRegression()

model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

predictions = model.predict(X_test)
MSE = mean_squared_error(y_test, predictions)
r2 = model.score(X_test, y_test)

print(f"MSE: {MSE}, R2: {r2}")
print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")



# LASSO model
# Note: Use an alpha of .01 when creating the model for this activity
from sklearn.linear_model import Lasso

lasso = Lasso(alpha=.01).fit(X_train, y_train)

training_score1 = lasso.score(X_train, y_train)
testing_score1 = lasso.score(X_test, y_test)

predictions1 = lasso.predict(X_test)
MSE = mean_squared_error(y_test, predictions1)
r2 = lasso.score(X_test, y_test)

print(f"MSE: {MSE}, R2: {r2}")
print(f"Training Score: {training_score1}")
print(f"Testing Score: {testing_score1}")



# Ridge model
# Note: Use an alpha of .01 when creating the model for this activity
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=.01).fit(X_train, y_train)

training_score2 = ridge.score(X_train, y_train)
testing_score2 = ridge.score(X_test, y_test)

predictions2 = ridge.predict(X_test)
MSE = mean_squared_error(y_test, predictions2)
r2 = ridge.score(X_test, y_test)

print(f"MSE: {MSE}, R2: {r2}")
print(f"Training Score: {training_score2}")
print(f"Testing Score: {testing_score2}")

MSE: 0.5399965669217986, R2: 0.7402602686130828
Training Score: 0.7087476598477382
Testing Score: 0.7402602686130828
MSE: 0.5407149460457551, R2: 0.7399147264150017
Training Score: 0.7087467710349549
Testing Score: 0.7399147264150017
MSE: 0.5399966146672561, R2: 0.7402602456473955
Training Score: 0.708747659847734
Testing Score: 0.7402602456473955

/Users/eman.llamas/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 52.71353614456069, tolerance: 0.13840392156862744
  positive)

In [122]:
def predict_all_nba():
    '''
    Function takes in 8 arguments('MP','GS','PTS','AST','TwoPA','FGA','WS')
    and returns the amount of All NBA selection those stats will produce and the probabilty of that prediction.
    
    Stats are taken as the sum for the players entire career.
    
    '''  
#     target = updated_stats['All_NBA'].values.reshape(-1, 1)
#     data = updated_stats.drop("All_NBA", axis=1)
    
#     from sklearn.model_selection import train_test_split
#     X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

#     from sklearn.preprocessing import StandardScaler
#     X_scaler = StandardScaler().fit(X_train)
#     y_scaler = StandardScaler().fit(y_train)

#     X_train_scaled = X_scaler.transform(X_train)
#     X_test_scaled = X_scaler.transform(X_test)
#     y_train_scaled = y_scaler.transform(y_train)
#     y_test_scaled = y_scaler.transform(y_test)
    
    
#     lasso = Lasso(alpha=.01).fit(X_train_scaled, y_train_scaled)

#     training_score1 = lasso.score(X_train_scaled, y_train_scaled)
#     testing_score1 = lasso.score(X_test_scaled, y_test_scaled)
    
    #____________
    MP = int(input('Minutes Played: ')) 
    GS = int(input('Games Started: '))
    PTS = int(input('Points: '))
    AST = int(input('Asists: '))
    TwoPA = int(input('Two Point Attempts: ')) 
    FGA = int(input('Field Goal Attempts: '))
    WS = int(input('Win Shares: '))
    
    new_values = [[MP,GS,PTS,AST,TwoPA,FGA,WS]]
    prediction = model.predict(new_values)
    
    if prediction[0] < 1:
        return "0 All NBA Selections"
    else:
        return int(prediction[0])